<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      하뭇(HAMUT)
    </a>

    <nav class="site-nav">
      <a class="page-link" href="{{ "/" | relative_url }}">홈</a>
      <a class="page-link" href="{{ "/about/" | relative_url }}">하뭇 소개</a>
      <a class="page-link" href="{{ "/program/" | relative_url }}">프로그램</a>
      <a class="page-link" href="{{ "/faq/" | relative_url }}">FAQ</a>
    </nav>

  </div>

</header>
